# Default ignored files
/shelf/
/workspace.xml
# Project exclude paths
/VirtualEnvironment/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
